<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @toodoo_item.description %>
</p>

<%= link_to 'Edit', edit_toodoo_item_path(@toodoo_item) %> |
<%= link_to 'Back', toodoo_items_path %>
